:root { 
--blue_800_a5:#1357b8a5; 
--gray_900_14:#12112714; 
--blue_A700:#136aff; 
--blue_gray_100_01:#d9d9d9; 
--gray_600_75:#72727275; 
--blue_900_d8:#033a89d8; 
--gray_900_8e:#1211278e; 
--gray_50:#f9f9f9; 
--white_A700_75:#ffffff75; 
--gray_400_19:#c6c6c619; 
--black_900:#000000; 
--gray_500_01:#9f9fa9; 
--black_900_63:#00000063; 
--blue_gray_900_02:#363636; 
--blue_900_01:#0f50ae; 
--blue_gray_900_01:#172b4d; 
--blue_gray_700:#42526e; 
--pink_600:#d3134a; 
--blue_gray_900:#252b42; 
--gray_600:#727272; 
--gray_900_02:#111127; 
--blue_900:#033a89; 
--gray_400:#c0c0c0; 
--gray_500:#9d9d9d; 
--blue_gray_100:#d6dadc; 
--gray_600_01:#828282; 
--gray_800:#3a3a3a; 
--blue_900_19:#033a8919; 
--black_900_6c:#0000006c; 
--gray_900:#282828; 
--gray_900_01:#1e1e1e; 
--yellow_A700:#ffd600; 
--gray_200:#f0f0f0; 
--gray_300:#e4e4e4; 
--gray_100:#f5f5f5; 
--gray_100_03:#f7f7f7; 
--gray_100_02:#f2f5f9; 
--black_900_75:#00000075; 
--black_900_11:#00000011; 
--gray_400_01:#c5c5c5; 
--pink_600_75:#d3134a75; 
--gray_400_02:#bababa; 
--gray_100_01:#f4f4f4; 
--black_900_19:#00000019; 
--pink_600_6c:#d3134a6c; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
}